.nav-two-main-div {
    height: 26px;
    width: 0%9;
    box-sizing: border-box;
    ul{

        display: flex;
        list-style: none;
        margin: 5px;
        margin-left: 5%;
        padding: 5px;

        li{
            margin-right: 15px;
            font-size: small;
            font-weight: 500;
            font-family: sans-serif;
            cursor: pointer;
        }
        li:hover{
            border-bottom: 3px solid;
            border-bottom-color:#ED921A ;
        }
        
    }
    
}

@media only screen and (max-width: 500px) {
    .nav-two-main-div{
      li{
        color: red;
        margin-right: 5px;
      }
    }
}
// @media only screen and (max-width: 991px) and (min-width:601px) {
// @media only screen and (min-width: 992px) {}
// @media only screen and (min-width: 992px) {}
