.shop{
    width: 100%;
    min-height: 100vh;
}

.shopTitle {
    height: 230px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .banner-img-div{
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .banner-img{
      width: 90%;
      height: 100%;
    } 
    .banner-input-div{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
    }
    .banner-input-div>input{
    height: 30px;
    max-width: 370px;
    position: relative;
    border-radius: 15px;
    margin-bottom: 50px;
    outline: none;
    border: none;
    background-color: rgb(204, 199, 245);
    padding-left: 15px;
    padding-right: 40px;
    opacity: 80%;
    }
  }
  .search-icon{
    position: absolute;
    margin-top: -50px;
    margin-left: 170px;
    opacity: 70%;

  }
  .products {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    gap: 5px;
    place-items: center;
    margin-top: 5px;
  }
  
  .product {
    border-radius: 15px;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .product img {
    width: 100%;
    height: 60%;
  }
  
  .product .description {
    height: 20%;
    width: 80%;
    text-align: center;
    line-height: 5px;
  }
  .product .card-btn-div{
    display: flex;
    align-items: center;
    top: 0;
    height: 20%;
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(13, 19, 91);
    color: black;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCartBttn:hover {
    border-color: #ED921A;
    // color: rgb(234, 233, 240);
    cursor: pointer;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .products {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50% ;
    place-items: center;
  }
  .product{
    height: 350px;
    display: flex;
    justify-items: center;
    align-items: center;
  }
 
 

 .shopTitle>input{
  width:160px ;
 }
 .search-icon{
  
  margin-top: -48px;
  margin-left: 166px;
  opacity: 60%;

}

}
  @media only screen and (max-width: 991px) and (min-width:601px) {

    .shopTitle {
      text-align: center;
      font-size: 30px;
      font-weight: bolder;
    }
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .products {
    width: 100%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    place-items: center; 
  }
   
 .banner-input-div>input{
  width:300px ;
 }
 .search-icon{
  margin-top: -50px;
  margin-left: 250px;
  opacity: 60%;
}
.shopTitle{
  height: 330px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .products {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    place-items: center; 
  }
}