*{
  box-sizing: border-box
}
body{
  background-color:white;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App {

  min-width: 100%;
  /* min-height: 100vh; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,sans-serif;
 
}


/* .navbar{
  height: 100% !important;
} */


body {
  padding: 0;
  margin: 0;
}

